$layout-breakpoint-medium: 900px;
$layout-breakpoint-large: 1980px;

@use "../Base.scss";

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: Base.$myWhite;
  padding: 6rem 0 5rem 0;

  h1 {
    font-size: 3rem;
    margin: 2rem;
    line-height: 5rem;
    border-bottom: 0.2rem solid Base.$myLighterGray;
    width: 80%;
    text-align: start;
  }

  .projectContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2vw;
  }
}

@media (max-width: $layout-breakpoint-medium) {
  .portfolioContainer {
    h1 {
      font-size: 2.5rem;
      width: 90%;
    }
    .projectContainer {
      width: 90%;
      grid-template-columns: none;
    }
  }
}

@media (min-width: $layout-breakpoint-large) {
  .portfolioContainer {
    width: 1980px;
  }
}
