$layout-breakpoint-small: 780px;

.portfolioContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
  padding: 6rem 0 5rem 0;

  h1 {
    font-size: 3rem;
    margin: 2rem;
    line-height: 5rem;
    border-bottom: 0.15rem solid #9e9e9e9c;
    width: 80%;
    text-align: start;
  }

  .projectContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 2vw;
  }
}

@media (max-width: $layout-breakpoint-small) {
  .portfolioContainer {
    h1 {
      font-size: 2.5rem;
    }
    .projectContainer {
      grid-template-columns: none;
    }
  }
}
