$layout-breakpoint-medium: 1100px;
$layout-breakpoint-small: 780px;
$layout-breakpoint-large: 1980px;

@use "../Base.scss";

.card {
  position: relative;
  width: 38vw;
  height: 19vw;
  font-size: 1.75rem;
  display: flex;

  background-color: Base.$myWhite;
  border: 0.1rem solid Base.$myLightGray;
  padding: 1rem;
  color: Base.$myDarkGray;

  cursor: pointer;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .projectInfo {
    visibility: hidden;
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    grid-template-rows: 7fr 2fr;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    background-color: rgba($color: Base.$myWhite, $alpha: 0.9);
    color: Base.$myDarkGray;
    transition: 0.5s;
    padding: 1rem;
    transform: translateY(50%);

    .projectDescsription {
      overflow-y: auto;
      h2 {
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        color: Base.$myBlue;
      }

      p {
        padding: 0.5rem;
        font-weight: normal;
      }
    }
    .buttonsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      button {
        cursor: pointer;
        border: none;
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 90%;
        font-size: 1.75rem;
        font-weight: bold;
        color: white;
        border-radius: 1rem;
        transition: 0.25s;
        background-color: Base.$myWhite;
        font-size: 2rem;
        &.demo {
          border: 0.25rem solid Base.$myBlue;
          color: Base.$myBlue;
          &:hover {
            background-color: Base.$myBlue;
            color: white;
          }
        }
        &.code {
          border: 0.25rem solid Base.$myDarkGray;
          color: Base.$myDarkGray;
          &:hover {
            background-color: Base.$myDarkGray;
            color: white;
          }
        }
      }
    }
  }

  &:hover {
    .projectInfo {
      visibility: visible;
      transform: translateY(0);
    }
  }
}

@media (max-width: $layout-breakpoint-medium) {
  .card {
    font-size: 1.6rem;
  }
}

@media (max-width: $layout-breakpoint-small) {
  .card {
    width: 90vw;
    height: 45vw;
    font-size: 1.45rem;
  }
}

@media (min-width: $layout-breakpoint-large) {
  .card {
    width: 750px;
    height: 375px;
    font-size: 1.45rem;
  }
}
