$layout-breakpoint-medium: 1100px;
$layout-breakpoint-small: 780px;

.card {
  width: 45vw;
  height: 45vw;
  font-size: 1.65vw;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 22.5vw 1fr 2fr 1fr 1fr;
  background-color: bisque;
  border-radius: 1rem;
  padding: 1.5vw;
  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  h2 {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    color: #ff5722;
    border-bottom: 0.25rem solid #ff572275;
  }

  p {
    padding: 0.5rem;
    font-weight: normal;
  }

  .buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    button {
      cursor: pointer;
      border: none;
      width: 95%;
      height: 95%;
      border-radius: 1rem;
      font-size: 2vw;
      font-weight: bold;
      color: white;
      &.demo {
        background-color: #ff5722d4;
        &:hover {
          background-color: #ff5722;
        }
      }
      &.code {
        background-color: #2196f3d6;
        &:hover {
          background-color: #2196f3;
        }
      }
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .card {
    width: 90vw;
    height: 90vw;
    font-size: 3.3vw;
    padding: 3vw;
    grid-template-rows: 45vw 1fr 2fr 1fr 1fr;
    .buttonsContainer {
      button {
        font-size: 4vw;
      }
    }
  }
}
