$layout-breakpoint-small: 800px;
@use "../Base.scss";

.contactContainer {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: Base.$myWhite;
  min-height: 100vh;
  h1 {
    font-size: 3rem;
    margin: 2rem;
    line-height: 5rem;
    border-bottom: 0.2rem solid Base.$myLighterGray;
    width: 80%;
    text-align: start;
  }
  .mapContainer {
    display: flex;
    align-items: center;
    width: 80%;
    overflow: hidden;
    object-fit: cover;
  }
  .infoContainer {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    li {
      height: 12.5rem;
      background-color: Base.$myWhite;
      padding: 1rem;
      width: 18.5vw;
      display: grid;
      grid-template-rows: 7fr 1fr;
      justify-items: center;
      font-size: 1.3vw;
      font-weight: bold;
      border: 0.15rem solid Base.$myLightGray;
      color: #373737;
      transition: 0.25s;
      .icons {
        font-size: 5rem;
        color: #bcbcbc;
        stroke-width: 0.1rem;
      }
      &:hover {
        box-shadow: 0 1rem 1rem rgb(230, 230, 230);
        transform: translateY(-0.5rem);
      }
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .contactContainer {
    width: 100vw;
    h1 {
      font-size: 2.5rem;
      width: 90%;
    }
    .mapContainer {
      width: 90%;
    }
    .infoContainer {
      width: 90%;
      flex-direction: column;
      justify-content: space-between;
      li {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
