@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$layout-breakpoint-large: 1600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  body {
    max-width: 100vw;
    min-height: 100vh;

    ul {
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (min-width: $layout-breakpoint-large) {
  // html {
  //   font-size: 0.65vw;
  // }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    #root {
      width: 1500px;
    }
  }
}
