$myBlue: #0099e5;
$myWhite: #ffffff;
$myLightGray: #dfdfdf;
$myLighterGray: #eeeeee;
$myDarkGray: #666666;
$myBlack: #333333;

// $myBlue: invert(#0099e5);
// $myWhite: invert(#ffffff);
// $myLightGray: invert(#dfdfdf);
// $myLighterGray: invert(#eeeeee);
// $myDarkGray: invert(#666666);
// $myBlack: invert(#333333);
