// @use "./Base.scss";
$layout-breakpoint-medium: 960px;

header {
  display: grid;
  grid-template-columns: 1.5fr 5.5fr;
  padding-bottom: 0.25rem;
  width: 100vw;
  height: 5rem;
  background-color: #ececec;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.25rem solid #333333;

  h2 {
    margin-left: 3rem;
  }

  .hamburger {
    display: none;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: 4.5fr 1.5fr;
    font-weight: bold;

    nav {
      display: flex;
      ul {
        display: flex;
        li {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          .icons {
            font-size: 2.5rem;
          }
        }
      }
    }

    .tabs {
      ul {
        width: 100%;
        justify-content: flex-end;
        li {
          position: relative;
          margin: 0 3rem 0 4rem;
          height: 3.5rem;
          width: 14rem;
          border-bottom: 0.25rem solid #cccccc;
          &::before {
            position: absolute;
            bottom: -0.25rem;
            left: 0;
            content: "";
            width: 0%;
            height: 0.25rem;
            background: #333333;
            transition: 0.25s;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }

    .socialMedia {
      ul {
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-medium) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;

    .hamburger {
      display: block;
      position: absolute;
      left: 1rem;
      top: 0;
    }

    .linksContainer {
      visibility: hidden;
      background-color: #bbbbbb;
      position: fixed;
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 5fr 1fr;
      top: 5rem;
      left: 0;
      width: 30rem;
      transform: translateX(-30rem);
      height: 100vh;
      font-size: 2.5rem;
      transition: 0.25s;
      z-index: 1;

      &.active {
        visibility: visible;
        transform: translateX(0);
      }

      nav {
        ul {
          .icons {
            font-size: 3.5rem;
          }
        }
      }

      .tabs {
        ul {
          width: 100%;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          li {
            margin: 0 3rem 0 4rem;
          }
        }
      }

      .socialMedia {
        margin: 2rem 2rem 20vh 2rem;
        ul {
          width: 100%;
          justify-content: space-evenly;
        }
      }
    }
  }
}
