// @use "./Base.scss";
$layout-breakpoint-medium: 960px;

header {
  display: grid;
  grid-template-columns: 1.5fr 5.5fr;
  width: 100vw;
  height: 5rem;
  background-color: aquamarine;
  align-items: center;
  font-size: 2rem;

  h2 {
    margin-left: 3rem;
  }

  .linksContainer {
    display: grid;
    grid-template-columns: 4.5fr 1.5fr;

    nav {
      display: flex;
      ul {
        display: flex;
        .icons {
          font-size: 2.5rem;
        }
      }
    }

    .tabs {
      ul {
        width: 100%;
        justify-content: flex-end;
        li {
          margin: 0 3rem 0 4rem;
        }
      }
    }

    .socialMedia {
      margin-right: 2rem;
      ul {
        width: 100%;
        justify-content: space-evenly;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-medium) {
  header {
    display: flex;
    justify-content: center;
    align-self: center;
    .linksContainer {
      // visibility: hidden;
      background-color: gray;
      position: absolute;
      display: grid;
      grid-template-columns: none;
      grid-template-rows: 5fr 1fr;
      top: 0;
      left: 0%;
      width: 30rem;
      height: 100vh;
      font-size: 3.5rem;
      .tabs {
        ul {
          width: 100%;
          flex-direction: column;
          justify-content: flex-end;
          li {
            margin: 0 3rem 0 4rem;
          }
        }
      }
      nav {
        display: flex;
        ul {
          display: flex;
          .icons {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
